<html>
    <head></head>
    <body>
        <form method="POST" action="/login/">
            {% csrf_token %}
            domain:<input name="domain" type="text" value="default">
            <br>
            username:<input name="username" type="text" value="admin">
            <br>
            password:<input name="password" type="password" value="123456">
            <br>
            <input name="region" type="hidden" value="http://139.196.208.113:5000/v3">
            <br>
            <input type="submit" value="提交">
        </form>
    </body>
</html>
